* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

body {
    background-image: url('https://images.unsplash.com/photo-1506056820413-f8fa4de15de6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80');
    background-repeat: no-repeat;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/background-position */
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 60%;
}
  
a {
    text-decoration: none;
    color: white;
}

button:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-shadow: 0 3px 10px rgb(12 55 69 / 0.8);
}
  
a:active {
    text-decoration: underline;
}
  
.y-sticky {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
