@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.logo-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.logo-outer {
    border: 10px solid white;
    box-shadow: inset 0 3px 10px rgb(0 0 0 / 0.9);
    height: 280px;
    padding: 2rem;
    width: 600px;
}

.logo-background {
    align-items: center;
    border: 10px solid white;
    box-shadow: inset 0 3px 10px rgb(0 0 0 / 0.9);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.logo-background p {
    color: white;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.logo-background hr {
    background-color: white;
    height: 5px;
    width: 60%;
}