@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

.landing-container {
    /* border: 1px solid red; */
    /* background-image: url('https://images.unsplash.com/photo-1477313372947-d68a7d410e9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80');
    background-repeat: no-repeat;
    background-position: center -445px; 
    background-attachment: fixed;
    position: relative;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center; */
}
