@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

footer {
    align-items: center;
    display: flex;
    height: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    background: rgba( 255, 255, 255, 0.1 );
    border-top: solid 1px rgba(255,255,255,.3);
    border-left: none;
    border-bottom: none;
    background-clip: padding-box;
    backdrop-filter: blur(10px );
    font-family: 'Roboto', sans-serif;
}